<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left nav-back-btn"></span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand"
               href="">Edit Website</a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWebsite(model.website)"
               class="navbar-link">
                <span class="glyphicon glyphicon-ok black-btn"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="name">Website Name</label>
            <input ng-model="model.website.name"
                   id="name"
                   type="text"
                   placeholder="Name"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
        <textarea ng-model="model.website.description"
                  id="desc"
                  rows="4"
                  class="form-control"
                  placeholder="Description"></textarea>
        </div>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWebsite()"
           role="button">Delete</a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link"
               href="">
                <span class="glyphicon glyphicon-share-alt"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user text-primary"></span>
            </a>
        </div>
    </div>
</nav>