
<div id="page-wrapper">

    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header"> Second Hand Books </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <br/>
    <div id="row">
        <table class="table table-stripped" align="center">
            <thead>
            <tr>
                <th width="10%"></th>
                <th width="75%"></th>
                <th width="15%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in books">

                <td> <img class="big-icon img-square img-responsive" src="{{book.image}}"> </td>
                <td>
                    <b>
                        <ul>
                            <li class="title"><a ng-click="enterBook(book)">{{book.title}}</a></li>
                            <li class="details">by: {{book.author}}</li>
                            <li class="details">Publisher: {{book.publisher}}</li>
                            <li class="details"><a ng-click="enterSeller(book.sellerId)">Seller: {{book.sellerName}}</a></li>
                            <br/>
                            <li class="price"> Price: {{book.price}}</li>
                        </ul>
                    </b>
                </td>
                <td>
                    <div class="text-center">
                        <ul>
                            <li>
                                <div class="ratings">
                                    <p>
                                        <span  ng-class="rate(book.rating, 1)"></span>
                                        <span ng-class="rate(book.rating, 2)"></span>
                                        <span ng-class="rate(book.rating, 3)"></span>
                                        <span  ng-class="rate(book.rating, 4)"></span>
                                        <span ng-class="rate(book.rating, 5)"></span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <input type="button" class="btn btn-default btn-block" ng-click="buyBook(book)" value="put in cart"/>
                            </li>
                        </ul>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>