body {
    padding-top: 60px;
    padding-bottom: 50px;
}
a {
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}
input.form-control,textarea,select {
    margin-bottom: 5px;
}
.navbar-brand {
    font-weight: bold;
}
.black-btn {
    color: black;
}
.nav-back-btn {
    color: black;
    margin-right: 10px;
}
span.glyphicon {
    top: 0;
}
.list-btn {
    padding: 0;
}
.data-list-padding {
    padding: 10px;
}
.widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 2px;
    border-bottom-left-radius: 8px;
    opacity: 0.8;
}