/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.board-body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px 0 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #E8E8E8;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: 0;
}
.nav-sidebar > li > a {
  color: #F4783B;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > li > a:hover {
  color: #F43B3B;
  background-color: #fff;
  border-radius: 5px;

}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #F4783B;
  border-radius: 3px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

/*.placeholders {*/
  /*margin-bottom: 30px;*/
  /*text-align: center;*/
/*}*/
/*.placeholders h4 {*/
  /*margin-bottom: 0;*/
/*}*/
/*.placeholder {*/
  /*margin-bottom: 20px;*/
/*}*/
/*.placeholder img {*/
  /*display: inline-block;*/
  /*border-radius: 50%;*/
/*}*/


.form-group .btn-danger {
  margin-bottom: 3px;
}

/*dashboard content*/
.content{
  display:inline;
  float:left;
  margin-left: 8px;
  padding-left: 30px;
  padding-top: 10px;
}

.content ul{
  float:left;
}

.content ul li{
  width: 220px;
  height: 440px;
  display:inline;
  float:left;
  margin-right:50px;
  margin-bottom: 30px;
  overflow: scroll;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 5px 10px 5px 10px;
}

.content ul li dt span{
  color: #F43B3B;
}

.content ul li dt a{
  /*height:auto;*/
  margin: 0;
  display:inline;
  float:left;
  padding-left: 35px;
  padding-bottom: 10px;
}

.content ul li dt a:hover{
  /*height:auto;*/
  margin: 0;
  display:inline;
  float:left;
  padding-left: 35px;
  padding-bottom: 10px;
  opacity: 0.7;
}

.content ul li dd{
  margin: 0;
  display:inline;
  float:left;
}

.content ul li dd .book_title {
  height: 96px;
  margin: 0;
}

.content ul li dd .book_title a{
  text-decoration: none;
  color: rgb(156, 38, 50);
  font-size: 16px;
}

.content ul li dd .book_title a:hover{
  text-decoration: none;
  color: rgb(156, 38, 50);
  font-size: 16px;
  font-weight: 500;
}

.content ul li dd .book_author{
  height: 30px;
  font-size:12px;
  color:#998f77;
  margin: 0;
}

.content ul li dd .book_publisher{
  height: 14px;
  font-size: 14px;
}

/*book detail*/
.book-detail-wrapper {
  margin: 0 10px 0 10px;
}

.book-detail-wrapper .row {
  width: 100%;
  margin: auto;
}

.book-detail-title {
  color: rgb(219, 69, 32);
  font: 20px Serif;
  padding-left: 10px;
}

.book-detail-thumbnail {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  margin: 0 10px 10px 0;
}

.book-detail-info {
  color: rgb(87, 96, 105);
  font-size: 14px;
  padding-left: 10px;
}

.book-detail-nav {
  font-size: 26px;
  margin-bottom: 20px;
  height: 30px;
}

.book-detail-nav a {
  text-decoration: none;
  color: #F4783B;
}

.book-detail-nav a:hover {
  color: rgb(219, 69, 32);
}