<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left nav-back-btn"></span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand"
               href="">Edit Page</a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updatePage(model.page)"
               class="navbar-link">
                <span class="glyphicon glyphicon-ok black-btn"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.page.name"
                   id="name"
                   type="text"
                   placeholder="Name"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="model.page.title"
                   id="title"
                   type="text"
                   placeholder="Page Title"
                   class="form-control">
        </div>
        <a class="btn btn-danger btn-block"
           ng-click="model.deletePage()"
           role="button">Delete</a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user text-primary"></span>
            </a>
        </div>
    </div>
</nav>