<div id="page-wrapper">
	<div class="row">
		<div class="col-sm-12">

			<h1 style="color: darkslategrey" class="page-header"> Login </h1>
		</div>
	</div>
	<div  class="row">
		<!-- /.col-lg-12 -->
		<div class="col-sm-8">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputName" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputName" ng-model = "username" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="inputPassword" ng-model="password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<div >
						<button class="btn btn-primary btn-block"  ng-click="login()">Submit</button>

					</div>

				</div>
				<div class="form-group">
				<a href="/auth/google" class="btn btn-danger btn-block">Login Using GooglePlus
					<span class="fa fa-google-plus"></span></a>
					</div>
				<div class="form-group">
                    <h5> <marquee loop="2" > Sign up to open a new account</marquee></h5>
					<a class="btn btn-success btn-block" ng-click="reg()">sign up</a>
				</div>
			</form>
		</div>
		<!-- /.col-lg-8 -->
	</div>
</div>