<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form>
        <h1>Register</h1>
        <input ng-model="username"
               type="text"
               class="form-control"
               placeholder="username"/>
        <input ng-model="password"
               type="password"
               class="form-control"
               placeholder="password"/>
        <input ng-model="verifyPassword"
               type="password"
               class="form-control"
               placeholder="verify password"/>
        <a class="btn btn-primary btn-block"
           ng-click="model.register(username,password,verifyPassword)"
           role="button">Register</a>
        <a class="btn btn-danger btn-block"
           href="#/login"
           role="button">Cancel</a>
    </form>
</div>