<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-text pull-left" href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand">Search Flickr</a>
    </div>
</nav>

<div class="container">

    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <form name="flickrForm" novalidate>
        <div ng-show="model.error" class="alert alert-danger alert-dismissible" role="alert">
            <strong>{{model.error}}</strong>
        </div>
        <div class="form-group">
            <label class="label-control" for="name_flickr">Name</label>
            <input name="name" ng-model="name" class="form-control" id="name_flickr"/>
            <span class="fa fa-exclamation-triangle validate-alert"
                  ng-show="flickrForm.$submitted && !flickrForm.name.$viewValue">
                            Widget name should not be empty.
            </span>
        </div>
        <div class="form-group">
            <label class="label-control" for="url_flickr">URL</label>
            <input ng-model="model.url"
                   type="url"
                   id="url_flickr"
                   class="form-control"
                   placeholder="URL of the image">
        </div>
        <div class="form-group">
            <button type="submit" ng-click="model.selectPhoto(name)" class="btn btn-primary btn-block">Select</button>
        </div>
    </form>





    <div class="row flickr-thumbnail-wrapper">
        <div ng-repeat="photo in model.photos.photo" class="col-xs-4 flickr-thumbnail">
            <a ng-click="model.getPhotoInfo(photo)">
                <img width="100%"
                     ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
            </a>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>