<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget"
           class="navbar-text pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand">New {{model.type}}</a>
        <!--<a ng-click="model.createWidget()" class="navbar-text pull-right">-->
        <!--<span class="glyphicon glyphicon-ok"></span>-->
        <!--</a>-->
    </div>
</nav>

<div class="container">

    <div ng-show="model.error" class="alert alert-danger alert-dismissible" role="alert">
        <strong>{{model.error}}</strong>
    </div>

    <div ng-switch="model.type">

        <div ng-switch-when="TEXT">
            <form>
                <div class="form-group">
                    <label class="label-control" for="text_name_newwid">Name</label>
                    <input ng-model="name" class="form-control" id="text_name_newwid"/>
                    <span class="help-block">Name should not be empty. </span>
                </div>
                <div class="form-group">
                    <label class="label-control" for="text_text_newwid">Text</label>
                    <input ng-model="text" class="form-control" id="text_text_newwid"/>
                </div>
                <div class="form-group">
                    <label class="label-control" for="text_rows_newwid">Rows</label>
                    <input ng-model="rows" class="form-control" type="number" id="text_rows_newwid"/>
                </div>
                <div class="form-group">
                    <label class="label-control" for="text_placeholder_newwid">Placeholder</label>
                    <input ng-model="placeholder" class="form-control" id="text_placeholder_newwid"/>
                </div>
                <div class="form-group">
                    <label class="label-control" for="text_formatted_newwid">Formatted</label>
                    <input ng-model="formatted" type="checkbox" id="text_formatted_newwid"/>
                </div>
            </form>
            <a ng-click="model.createWidget({name: name, text: text, rows: rows, placeholder: placeholder, formatted: formatted})"
               class="btn btn-primary btn-block">Create</a>
        </div>


        <div ng-switch-when="HEADER">
            <form>
                <div class="form-group">
                    <label class="label-control" for="header_name_newwid">Name</label>
                    <input ng-model="name" class="form-control" id="header_name_newwid"/>
                    <span class="help-block">Name should not be empty. </span>
                </div>
                <div class="form-group">
                    <label class="label-control" for="header_text_newwid">Text</label>
                    <input ng-model="text"
                           type="text"
                           id="header_text_newwid"
                           placeholder="content of the header"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label class="label-control" for="header_size_newwid">Size</label>
                    <input ng-model="size"
                           type="number"
                           id="header_size_newwid"
                           class="form-control"
                           min="1"
                           max="6">
                    <span class="help-block">Size of header ranges from 1 to 6. </span>
                </div>
            </form>
            <a ng-click="model.createWidget({name: name, text: text, size: size})" class="btn btn-primary btn-block">Create</a>
        </div>

        <div ng-switch-when="IMAGE">
            <form action="/api/new/upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="label-control" for="image_name_newwid">Name</label>
                    <input name="widgetName" ng-model="name" class="form-control" id="image_name_newwid"/>
                    <span class="help-block">Name should not be empty. </span>
                </div>
                <div class="form-group">
                    <label class="label-control" for="image_url_newwid">URL</label>
                    <!--If the user wants to edit an existing image widget by uploading, the browser will complain
                    that the local address starts with "/uploads/" is not a standard URL. So the type is set to text
                    here.-->
                    <input ng-model="url"
                           type="text"
                           id="image_url_newwid"
                           class="form-control"
                           placeholder="URL of the image">
                </div>
                <div class="form-group">
                    <label class="label-control" for="image_width_newwid">Width</label>
                    <input ng-model="width"
                           name="width"
                           type="text"
                           id="image_width_newwid"
                           class="form-control"
                           placeholder="the width of the image including unit">
                    <span class="help-block">e.g. 500px, 80%</span>
                </div>
                <div class="form-group">
                    <label class="label-control" for="file_newwid">Upload</label>
                    <input type="file" id="file_newwid" name="myFile">
                    <!--<input name="widgetId" value="{{model.widget._id}}" class="widget-hidden-info"/>-->
                    <input name="userId" value="{{model.userId}}" class="widget-hidden-info"/>
                    <input name="webId" value="{{model.webId}}" class="widget-hidden-info"/>
                    <input name="pageId" value="{{model.pageId}}" class="widget-hidden-info"/>
                    <button class="submit btn btn-success btn-block submit-button">Upload Image</button>
                </div>
            </form>
            <a ng-click="model.createWidget({name: name, url: url, width: width})" class="btn btn-primary btn-block">Create</a>
            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/flickr_search"
               class="btn btn-warning btn-block flickr-search-button">
                Search on Flickr
            </a>
        </div>
        <div ng-switch-when="YOUTUBE">
            <form>
                <div class="form-group">
                    <label class="label-control" for="youtube_name_newwid">Name</label>
                    <input ng-model="name" class="form-control" id="youtube_name_newwid"/>
                    <span class="help-block">Name should not be empty. </span>
                </div>
                <div class="form-group">
                    <label class="label-control" for="youtube_url_newwid">URL</label>
                    <input ng-model="url"
                           type="url"
                           id="youtube_url_newwid"
                           class="form-control"
                           placeholder="URL of the video">
                </div>
                <div class="form-group">
                    <label class="label-control" for="youtube_width_newwid">Width</label>
                    <input ng-model="width"
                           type="text"
                           id="youtube_width_newwid"
                           class="form-control"
                           placeholder="the width of the image including unit">
                    <span class="help-block">e.g. 500px, 80%</span>
                </div>
            </form>
            <a ng-click="model.createWidget({name: name, url: url, width: width})" class="btn btn-primary btn-block">Create</a>
        </div>
        <div ng-switch-when="HTML">
            <!--<form>-->
            <!--<div class="form-group">-->
            <!--<label class="label-control" for="html_text_newwid">Text</label>-->
            <!--<input ng-model="text"-->
            <!--type="text"-->
            <!--id="html_text_newwid"-->
            <!--placeholder="Html code including tags"-->
            <!--class="form-control">-->
            <!--<span class="help-block">-->
            <!--e.g. <pre>&lt;h1&gt;Lorem ipsum&lt;/h1&gt;</pre>-->
            <!--<pre>&lt;p&gt;Lorem ipsum is ... &lt;/p&gt;</pre>-->
            <!--</span>-->
            <!--</div>-->
            <!--</form>-->
            <div class="form-group">
                <label class="label-control" for="html_name_newwid">Name</label>
                <input ng-model="name" class="form-control" id="html_name_newwid"/>
                <span class="help-block">Name should not be empty. </span>
            </div>
            <div class="form-group">
                <div ng-model="text"
                     text-angular
                     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                     ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                     ['indent','outdent'],['html']]">
                </div>
            </div>
            <a ng-click="model.createWidget({name: name, text: text})" class="btn btn-primary btn-block">Create</a>
        </div>

        <div ng-switch-default></div>

    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>