<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left nav-back-btn"></span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand"
               href="">Widget Edit</a>
        </div>
        <div class="navbar-text pull-right">
            <a href="model.updateWidget(model.widget)"
               class="navbar-link">
                <span class="glyphicon glyphicon-ok black-btn"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADER">
            <ng-include src="'views/widget/widget-heading.view.client.html'"/>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/widget-image.view.client.html'"/>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/widget-youtube.view.client.html'"/>
        </div>
        <div ng-switch-default>
            Unable to edit widget.
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user text-primary"></span>
            </a>
        </div>
    </div>
</nav>