<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget"
           class="navbar-text pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand">Choose Widget</a>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item linkbox">
            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/HEADER">Header</a>
        </li>
        <!--<li class="list-group-item linkbox">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/HTML">Label</a>-->
        <!--</li>-->
        <li class="list-group-item linkbox">
            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/HTML">HTML</a>
        </li>
        <li class="list-group-item linkbox">
            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/TEXT">Text</a>
        </li>
        <!--<li class="list-group-item linkbox">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/HTML">Link</a>-->
        <!--</li>-->
        <!--<li class="list-group-item linkbox">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/HTML">Button</a>-->
        <!--</li>-->
        <li class="list-group-item linkbox">
            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/IMAGE">Image</a>
        </li>
        <li class="list-group-item linkbox">
            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/YOUTUBE">YouTube</a>
        </li>
        <!--<li class="list-group-item linkbox">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/HTML">Data Table</a>-->
        <!--</li>-->
        <!--<li class="list-group-item linkbox">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new/HTML">Repeater</a>-->
        <!--</li>-->
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

